.twitter {
    width: 45px;
    height: 45px;
    margin-bottom: 28px;
}

.youtube {
    width: 45px;
    height: 45px;
    margin-bottom: 28px;
}

.instagram {
    width: 45px;
    height: 45px;
    margin-bottom: 3px;
}
